<h1 class="text-center">NUEVO TWEET</h1>

<%= form_for @tweet do |f| %>

  <div class="mb-3 text-center">
    <%= f.label :description, "Description", class: "form-label" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="mb-3 text-center">
    <%= f.label :username, "Username", class: "form-label" %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="text-center">
  <%= f.submit "Crear tweet", class: "btn btn-primary", id: 'btn-custom' %>
  </div>
  
<% end %>

<br>

  <div class="text-center">
    <%= link_to "Volver a los tweets", tweets_path, class: 'btn btn-primary', id: 'btn-custom' %>
  </div>


